.app {
  display: flex;
  padding-top: 50px;
  height: calc(100vh - 50px);
}

.app__header {
  background-color: #282c34;
  color: white;
  font-size: 18px;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

.app__sidebar {
  background-color: #efefef;;
  width: 180px;
}

.app__sidebar li {
  line-height: 40px;
}

.app__body {
  padding: 20px;
  width: calc(100% - 80px);
}
